body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #001f7c38;
}

.back-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
    overflow-x: hidden;
}

@media (max-aspect-ratio: 16/9) {
    .back-vid {
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .back-vid {
        width: 100%;
        height: auto;
    }
}
  
header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de8d;
    z-index: 999;

}

.left{
    display: flex;
    align-items: center;
}

.left img {
    width: 45px;
    margin:0 15px;
    height: 45px;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.30);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
}

header ul li {
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 10px;
}

.box-icons{
    display: flex;
    gap: 20px;
    
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;
}

.box-icons a:hover{
    background-color: #727fde;
    color: black;
    box-shadow: 0 0 15px #727fde6f;
}

.blackhole-box{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}

.blackhole-box video{
    width: 100%;
    margin-top:-30%;
}

.hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.hero-info{
    position: absolute;
    left: 5%;
}

.hero-info .hero-info-title{
    color: #727fde;
    padding: 8px 5px;
    border: 1px solid #727fde77;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;
}

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info button {
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
}

.hero-info button:hover{
    box-shadow: 0 0 20px #727fde86;
    opacity: 0.7;
}

.pic {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: auto;
    border: 1px solid #727fde;
    border-radius: 7%;
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 1;
}

.pic:hover {
    background-color: #727fde;
    color: black;
    box-shadow: 15px 15px 13px #25318b6f;
}

.robot-3d{
    position:absolute;
    right: -35%;
    transform: scale(0.4); 
    margin-top: -250vh;
    animation: appear 1.5s linear;
    object-fit: cover;
    display: flex;
}

@keyframes appear{
    from {
    opacity: 0;
    scale: 0.5;
    }
    to {
    opacity: 1;
    scale: 1;
}
}

/* @media (max-width: 768px){
    header{
        padding: 1rem 0.5rem;
    }


    .hero{
    margin-top: 85%;
    }

     .robot-3d{
    scale: 0.8;
    top: -20%;
    right: 2%;
    }
} */
 
.social-icon{
    width: 1.2rem;
    height: 1.2rem; 
    filter: invert(1);
    color: black;
}

.leetcode-link:hover .social-icon {
    content: url("https://cdn.simpleicons.org/leetcode/ffffff");
}

.gfg-link:hover .social-icon {
    content: url("https://cdn.simpleicons.org/geeksforgeeks/ffffff");
}

/* .scroll-down{
    height: 40px;
    width: 25px;
    border: 2px solid lightgray;
    position: absolute;
    left:48%;
    bottom: 1%;
    border-radius:50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.477);
} */

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* margin-top: 100px; */
}

.section-title{
    font-size: 30px;
    font-weight: 700;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.1s;
}

.mod1-img{
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.mod-img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.card h1{
    position: absolute;
    margin: 0;
    bottom: 44%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}

.card h2{
    position: absolute;
    margin: 0;
    bottom: 35%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}

.card h3{
    position: absolute;
    margin: 0;
    bottom: 24%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}

.card p{
    position: absolute;
    left: 5%;
    z-index: 1;
    max-width: 300%;
    color: gray;
    font-size: 13px;
    line-height: 20px;
    bottom: 3%;
}

.card video {
    margin-top: 10%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.card button{
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.card button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
}

.card:hover{
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.5);
}


.card:nth-child(3){
    grid-row: span 2;
    height: 83vh;
}

.card:nth-child(3) p{
    bottom: 12%;
}

.card:nth-child(3) h1{
    bottom: 21%;
}

.card:nth-child(4){
    grid-column: span 2;
}

.card:nth-child(4) p{
    max-width: 650px;
}

.card:nth-child(4) h1{
    bottom: 35%;
}


/*sectiom 2*/

.my-project{
    display: flex;
    flex-direction: column;
    gap: 10%;
    position: relative;
    width: 80%;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 330px;
    align-items: center;
}

.project-card{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

.project-vidbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    cursor: pointer;
    min-width: 400px;
    transition: 0.5s;
    mix-blend-mode: exclusion;
}

.project-vidbox video{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: 0s;
}

.project-vidbox:hover video{
    box-shadow: 0 0 20px lightgray;
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
}

.project-info h1{
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    text-wrap: nowrap;
    margin-bottom:10px;
    margin-top: 0;
    max-width: 450px;
}

.project-info p{
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 50px;
    margin-top:0;
}

.project-info button{
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
}

.project-info button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
}

.gradient{
    background: linear-gradient(to right,#008baa, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

/*sectiom 3*/

.skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 110vh;
}
.skills-box{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills-img{
    width: 70%;
    mix-blend-mode: lighten;
    opacity: 0.9;
}

.designer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 25%;
    left: 5%;
    max-width: 300px;
}

.coder{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 25%;
    right: 5%;
    max-width: 300px;
}

.skills-box h1{
    font-size: 50px;
    display: flex;
    align-items: center;
}

.skills-box p{
    line-height: 23px;
}

.slider{
    position: absolute;
    bottom: -8%;
    right: 20%;
    width: 60%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    mix-blend-mode: difference;
    opacity: 0.8;
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
    animation: flowRight 30s linear infinite;
}

@keyframes flowRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: relative;
    transition: filter 0.5s;
    margin-right: 20px;
}

.slider .list .item img{
    width : 100%;
}

@keyframes autoRun{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover{
    filter: grayscale(0);
}

/*sectiom 4*/

.contact-section{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-self: center;
    gap: 10%;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.contact-section h1{
    position: absolute;
    top: 0%;
    left: 40%;
}

.social-box{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.social-box i{
    color: #727fde;
    font-size: 30px;
    margin-right: 10px;
}

.social-box a{
    color: lightgray;
    text-decoration: none;
    font-size: 20px;
    text-wrap: nowrap;
}

.socialmedia-icons a i{
    color: white;
    margin-top: 40px;
}

.contact-box p{
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.contact-box input{
    padding: 7.5px 30px;
    background-color: lightgray;
    width: 80%;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.contact-box button{
    margin-top: 30px;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
}

.contact-box button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.128);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.356);
    z-index:999;
}

footer h1{
    font-size: 10px;
    color: rgb(134, 174, 188);
}

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation{
    0%{
        filter: blur(10px);
    }
    25%, 75%{
        filter: blur(0);
        opacity: 1;
    }
    100%{
        filter: blur(30px);
        opacity: 0;
    }
}

/*Auto display amimation*/

.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view();
}


@keyframes autoDisplayAnimation{
    from{
            filter: blur(10px);
            transform: translateY(-200px) scale(0);
            opacity: 0.2;
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) scale(1);
    }
}

/*Fadeinright*/

.fadeinright{
    animation: fadeinrightAnimation both;
    animation-timeline: view();
}

@keyframes fadeinrightAnimation{
    0%{
        opacity: 0;
        transform: translateX(-500px) scale(0.2);
        filter: blur(20px);
    }
    35%, 65%{
        opacity: 1;
        transform: translateX(0px) scale(1);
        filter: blur(0);
    }
    100%{
        filter: blur(20px);
    }
}