.autoBlur {
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
    opacity: 0;
  }
  35%,
  65% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(40px);
    opacity: 0;
  }
}

.autoDisplay {
  animation: autoDisplayAnimation both;
  animation-timeline: view();
}

@keyframes autoDisplay {
  from {
    filter: blur(10px);
    transform: translateY(-200px) scale(0);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) scale(1);
  }
}
